body{
    margin:0vh; padding:0vh; overflow:hidden;
}
.frame_utama{
    margin:0vh; padding:0vh; height:100vh; width:100%;
    background:linear-gradient(to bottom right, rgb(104, 90, 255), rgb(0, 0, 99));
    justify-content:center; align-items:center; overflow:hidden; 
    display:flex;
}
.kontainer_konten{
    margin:0vh; padding:4vh 0vh; height:70%; width:50%;
    background-color:rgb(11, 2, 102); overflow:hidden; 
    border-radius:20px;  align-items:center; justify-content:normal; 
    display:flex; flex-direction:column; box-sizing:border-box;
}


.judul{
    font-size:2vw; color:white;
}


.input{
    margin:0vh; padding:0vh 2vh; width:80%; height:7%;
    border-radius:10px; border:none; font-size:1.2vw;
    box-sizing:border-box;
}


.kontainer_tombol{
    margin:5vh; padding:0vh; width:80%; height:7%; overflow:hidden;
    display:flex; justify-content:center;
}
.tombol{
    padding:0vh; margin:0vh; width:15%; height:90%; border:none;
    border-radius:10px; color:white; cursor:pointer;
}
.tombol.periksa{
    background-color:red
}
.tombol.hapus{
    background-color:green; margin:0vh 2vh
}


.kontainer_keterangan{
    margin:0vh; padding:0vh; width:80%; height:40%;
    display:flex; justify-content: center; align-items:center;
    border-radius:10px;
}
.hasil{
    font-size: 2vw; color:white;
}